@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* varaible global  */
body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: "Poppins", sans-serif;
}
section{
    height: 1000px;
}
.section_background{
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201440%20320%22%3E%3Cpath%20fill%3D%22%230099ff%22%20fill-opacity%3D%221%22%20d%3D%22M0%2C96L30%2C133.3C60%2C171%2C120%2C245%2C180%2C245.3C240%2C245%2C300%2C171%2C360%2C154.7C420%2C139%2C480%2C181%2C540%2C176C600%2C171%2C660%2C117%2C720%2C96C780%2C75%2C840%2C85%2C900%2C117.3C960%2C149%2C1020%2C203%2C1080%2C208C1140%2C213%2C1200%2C171%2C1260%2C160C1320%2C149%2C1380%2C171%2C1410%2C181.3L1440%2C192L1440%2C320L1410%2C320C1380%2C320%2C1320%2C320%2C1260%2C320C1200%2C320%2C1140%2C320%2C1080%2C320C1020%2C320%2C960%2C320%2C900%2C320C840%2C320%2C780%2C320%2C720%2C320C660%2C320%2C600%2C320%2C540%2C320C480%2C320%2C420%2C320%2C360%2C320C300%2C320%2C240%2C320%2C180%2C320C120%2C320%2C60%2C320%2C30%2C320L0%2C320Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position-y: bottom;
}
footer{
    height: 400px;
}
a {
    text-decoration: none;
    color: black;
}
.card{
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #888888;
    width: 950px;
    height: 600px;
}
.img-icon{
    width: 20px;
    height: 20px;
}
.img-right{
    width: 460px;
    height: 600px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.img-profile-big{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}


@media screen and (max-width:768px) {
    .img-right{
        display: none;
    }
    .col-6{
        display: none;
    }
    .card{
        margin-left: 50px;
        margin-right: 50px;
    }
    section{
        height: 950px;
        background-color: #0099ff;
    }
    .section_background{
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201440%20320%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20fill-opacity%3D%221%22%20d%3D%22M0%2C96L30%2C133.3C60%2C171%2C120%2C245%2C180%2C245.3C240%2C245%2C300%2C171%2C360%2C154.7C420%2C139%2C480%2C181%2C540%2C176C600%2C171%2C660%2C117%2C720%2C96C780%2C75%2C840%2C85%2C900%2C117.3C960%2C149%2C1020%2C203%2C1080%2C208C1140%2C213%2C1200%2C171%2C1260%2C160C1320%2C149%2C1380%2C171%2C1410%2C181.3L1440%2C192L1440%2C320L1410%2C320C1380%2C320%2C1320%2C320%2C1260%2C320C1200%2C320%2C1140%2C320%2C1080%2C320C1020%2C320%2C960%2C320%2C900%2C320C840%2C320%2C780%2C320%2C720%2C320C660%2C320%2C600%2C320%2C540%2C320C480%2C320%2C420%2C320%2C360%2C320C300%2C320%2C240%2C320%2C180%2C320C120%2C320%2C60%2C320%2C30%2C320L0%2C320Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        background-position-y: bottom;
    }
}